@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');



html{
    font-family: 'Tangerine', cursive;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: black;
}
.title h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-style: italic;
    color: #F1DBBF;
    font-weight: 500;
    font-style: italic;
    text-decoration: ;
    letter-spacing: .1rem;
    border-bottom-style: double;
    border-radius: 40%;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Media Query For Desktop*/
@media only screen and (min-width: 1200px){
    .image-items{
        display: flex;
        flex-wrap: wrap;
    }
}
