@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');



html{
   font-family: 'Sacramento', cursive;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*header section*/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;

}
#header .header{
    height: 10vh;
    background-color: transparent;
}
#header h1{
    color: #F1DBBF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    margin-top: px;
    letter-spacing: .2rem;
    font-size: 2rem;
    font-family: 'Sacramento', cursive;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    padding: 0 25px;
    margin-top: 35px;
    margin-right: 30px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: black;
    height: 100vh;
    width: 100vw;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    
    padding: 10px;
    display: block;
    margin-right: px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    /*border: 3px solid white;*/
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: #F1DBBF;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F1DBBF;
    transition: .3s ease;
    transition-property: top, bottom;
    
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
#header .nav-list ul li a button{
    margin-bottom: px;
    background-color: #F1DBBF;
    letter-spacing: .1rem;
    padding: 0 7px;
    margin: 80 80px;
    display: block;
    font-style: italic;
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*End header section*/

/*title section*/
#title{
    background-image: url(https://github.com/lydia-atieno/Cars/blob/master/img/bk2.jpg?raw=true);
    background-size: cover;
    background-position: center, center;
    position: relative;
    z-index: 1;
}
#title::after{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: .7;
    z-index: -1;
}
#title h1{
    color: #F1DBBF;
    font-style: italic;
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    border-bottom-style: double;
    border-top-style: double;
    border-radius: 50%;
    border-top: ;
    font-family: 'Sacramento', cursive;
}
/*End title section*/

/*Footer section*/
#footer .f{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F1DBBF;
    background-color: black;
    opacity: ;
    font-style: italic;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
#footer p{
    font-size: 0.8rem;
    margin-top: 5px;
}
#footer h2{
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 12px;
}
#footer h3{
    margin-top: 10px;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: orange;
    font-weight: 500;
}
#footer h2 span{
    color: orange;
}
/*End footer section*/
